.theadStyle{
    background-color: #fae2d4;
}
.tbodyStyle{
    background-color: #82cceb;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    margin: auto;
  }
  .btnContainer{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  .btnContainer button {
    padding: .5rem 1rem;
    border-radius: .2rem;
    border: none;
    background-color: #09f;
    color: #fff;
    font-size: .9rem;
    cursor: pointer;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
